pipeline/air_pollution.json
{
	"name": "air_pollution",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://wli25-key-vault.vault.azure.net/secrets/wli25-hw2-openweathermap-ds598?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(-51,52)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_air_pollution",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "resource_air_pollution",
									"type": "DatasetReference",
									"parameters": {
										"lat": {
											"value": "@variables('lat')",
											"type": "Expression"
										},
										"lon": {
											"value": "@variables('lon')",
											"type": "Expression"
										},
										"dataType": {
											"value": "@variables('dataType')",
											"type": "Expression"
										},
										"cur_time": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"appid": {
											"value": "@activity('Web1').output.value",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "air_pollution_bronze",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"lat": {
				"type": "String",
				"defaultValue": "42.3554334"
			},
			"lon": {
				"type": "String",
				"defaultValue": "-71.060511"
			},
			"dataType": {
				"type": "String",
				"defaultValue": "hour"
			}
		},
		"annotations": []
	}
}